:root {
  --accent-color: #2196f3;
}
/* обнуляем заданные браузером отступы*/
*,
*:: before, 
*:: after {
  margin: 0;
  padding: 0;
}
.img {
  display: block;
}
.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/*====его дети и предки будут наследовать этот шрифт,
а стайл это стн размер ====*/
/*=================HEADER============*/
.header-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;
}

.ul,
.li,
.list {
  list-style: none;
}

/*сброс подчеркивания ссылок*/

.link {
  text-decoration: none;
}
/*чтобі все картинки сделали блочными без зазора в 4px*/

.titel-style {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #000000;
}
.titel-style-color {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}

/*сброс для адресса,т.к. в браузере он по умолчанию стоит италк-с наклоном*/
.adress {
  font-style: normal;
}
/*настройка верхнего блока навигации*/
/*стиль телефона вверхней панели*/
.navigation-list-link,
.header-tel-link,
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.02em;

  color: #000000;
}

/*===================================BODY=======================*/

/* настройки кнопки*/
.modal-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  /*из-за разности отображения шрифтов, падинги лучше делать чуть меньше если как на макете в одну строчку не влазит*/
  width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: auto;
}
/*ставим ховер чтобы выделялся при наведении, и форкус если эллемент интерактивный,
 а ниже цвет который должен преобретать*/
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link:active,
.header-tel-link:hover,
.header-tel-link:focus,
.header-mail-link:hover,
.header-mail-link:focus {
  color: #2196f3;
}
.active {
  color: var(--accent-color);
}

/*позаголовки блока №2*/
/*text-transform: uppercase; --это когда все буквы надо сделать заглавными*/
.subtitel {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
/*описание блоков №2*/
.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.hero-titel {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 364;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-left: 274px;
  padding-right: 274px;
  padding-top: 200px; /*если прийдется вынять хэдер из контента поставить 279px*/
  padding-bottom: 30px;

  /*color: #ffffff;*/
}
.subtitle-description {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 166;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.container {
  width: 1200;
  padding: 0 15px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
/*dicplay: flex - надо здать каждому эллементу как блоку так и его подразделам*/
.header .container {
  width: 1200px;
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.header-adress {
  display: flex;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation .logo {
  margin-right: 93px;
}
/*последним лишкам мы марджины обнуляем*/
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header .adress {
  margin-left: auto;
  margin-right: 10px;
  margin-top: -55px;
}

.description-block .container {
  display: flex;
}

.subtitel-description-list {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 101px;
  margin-bottom: 94px;
  margin-top: 94px;
}
.subtitel-description-content:not(last-child) {
  margin-right: 30px;
}

.subtitel {
  display: flex;
  margin-bottom: 10px;
  margin-top: 94px;
}

/*=====================ABOUT US=======================*/
.gallery .container {
  display: flex;
}

.gallery-list {
  display: flex;
}

.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}
.subtitel-description {
  margin-bottom: 50px;
}
/*====================ABOUT COMMAND==================*/
.command .container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-person-item:not(:last-child) {
  margin-right: 30px;
}

.about-person-content {
  padding-top: 30px;
  padding-bottom: 59px;
  padding-right: 60px;
  padding-left: 60px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.about-person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: #212121;
}
.about-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.contact-list-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;

  color: rgba(0, 0, 0, 0.6);
}

/*==================PORTFOLIO================================*/
.modal-button-list {
  display: flex;
}

.modal-button-item {
  margin-right: 8px;
}

.gallery-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.gallery-portfolio-list {
  display: flex;
}

.modal-button-list {
  font-size: 0;
}

.modal-button-item {
  display: inline-block;
}

.gallery-portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.gallery-portfolio .container {
  display: flex;
  align-items: center;
  width: 1200px;
  /*height: 101px;*/
  margin-bottom: 94px;
  margin-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.content-portfolio-name {
  margin-bottom: 4px;
  margin-top: 20px;
}

.gallery-discription {
  margin-bottom: 20px;
}

.modal-button-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 165;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-button-item:hover,
.modal-button-item:focus {
  background-color: #2196f3;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}

.footer {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 180px;
}

.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer .logo {
  margin-top: 60px;
  margin-bottom: 20px;
}
.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.header-adress-footer {
  margin-left: -40px;
}
.header-adress-footer {
  margin-bottom: 40px;
}

.content-portfolio-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.gallery-discription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;

  color: #757575;
}

.portfolio-list-content {
  padding-top: 20px;
  padding-bottom: 54px;
  padding-left: 24px;
  padding-right: 24px;
  /*обводки карточек*/
  border: 1px solid #eeeeee;
  border-top: none;
}

.content-portfolio-name {
  margin-bottom: 4px;
}

.gallery {
  display: flex;
}
.gallery-discription {
  display: flex;
}
